html {
  height: 100%;
}

body {
  display: flex;
  background: rgba(30, 145, 214, 0.3);
  color: white;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  min-width: 300px;
  background: #2e4057;
}

.top-container {
  min-width: 300px;
  align-self: center;
  margin-top: 50px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

#score {
  font-size: 30px;
  margin-left: 10px;
  font-weight: 700;
}

.time-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.time {
  position: absolute;
  height: 10px;
  left: 50px;
  right: 0;
  background-color: #e4fde1;
  border-radius: 10px;
  align-self: center;
}

.time-background {
  background-color: #e59500;
}

.float-left {
  float: left;
}

.main-container {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.button-view  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 240px;
  margin-top: 30px;
}

.main-button {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.math {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.big-text {
  font-size: 40px;
}

.button-left {
  background: #3fa34d;
}

.button-right {
  background: #ad343e;
}

.pop-up-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.pop-up-box {
  position: relative;
  top: 25%;
  left: 20%;
  width: 60%;
  background: rgb(187, 221, 242);
  border-radius: 4px;
}

.pop-up-content {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.pop-up-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(102, 102, 102);
}

.pop-up-button {
  min-height: 66px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 20px;
}
