body {
  background: #fff;
}

#time {
  height: 25px;
  width: 300px;
  background-color: red;
  margin-left: 20px;
}

.float-left {
  float: left;
}

.main-container {
  clear: both;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin-top: 50px;
}

.big-text {
	font-size: 50px;
	margin-left: 50px;
}

.margin-left {
	margin-left: 50px;
}
